/nvidia-settings-390.87.tar.bz2
/nvidia-settings-390.116.tar.bz2
/nvidia-settings-390.129.tar.bz2
/nvidia-settings-390.132.tar.bz2
/nvidia-settings-390.138.tar.bz2
/nvidia-settings-390.141.tar.bz2
/nvidia-settings-390.143.tar.bz2
/nvidia-settings-390.144.tar.bz2
/nvidia-settings-390.147.tar.bz2
/nvidia-settings-390.151.tar.bz2
